<!DOCTYPE html>
<html>
  <head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <% Object.keys(meta).forEach((key) => { %>
    <meta property="<%= key %>" content="<%= meta[key] %>" /><% }); %>

    <link rel="manifest" href="./manifest.json">
    <link rel="shortcut icon" href="./images/favicon.ico">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=<%=
      Object.keys(fonts).map((key) => `${key.replace(/ /g, '+')}${fonts[key].length > 0 ? `:${fonts[key]}` : ''}`).join('|')
    %>&display=swap" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />              <!-- Fancybox -->

    <!-- Scripts -->
    <% Object.keys(scripts).forEach((key) => { %>
    <!-- <%=key%> --->
    <%="<script"%><% Object.keys(scripts[key]).forEach((value) => { %> <%=value%>="<%=scripts[key][value] %>"<% }); %><%="></script>"%><% });%>
    
    <script>
      const baseTag = document.createElement('base');
      baseTag.href = window.location.origin;
      document.getElementsByTagName('head')[0].appendChild(baseTag);
    </script>
  </head>

  <body>
    <!-- Scripts -->
    <button class="widgetBoxArrow" id="openWidget" onclick="groove.widget.toggle();">Need Help?</button>
    <!-- BEGIN GROOVE WIDGET CODE -->
    <script>
      !function(e,t){if(!e.groove){var i=function(e,t){return Array.prototype.slice.call(e,t)},a={widget:null,loadedWidgets:{},classes:{Shim:null,Embeddable:function(){this._beforeLoadCallQueue=[],this.shim=null,this.finalized=!1;var e=function(e){var t=i(arguments,1);if(this.finalized){if(!this[e])throw new TypeError(e+"() is not a valid widget method");this[e].apply(this,t)}else this._beforeLoadCallQueue.push([e,t])};this.initializeShim=function(){a.classes.Shim&&(this.shim=new a.classes.Shim(this))},this.exec=e,this.init=function(){e.apply(this,["init"].concat(i(arguments,0))),this.initializeShim()},this.onShimScriptLoad=this.initializeShim.bind(this),this.onload=void 0}},scriptLoader:{callbacks:{},states:{},load:function(e,i){if("pending"!==this.states[e]){this.states[e]="pending";var a=t.createElement("script");a.id=e,a.type="text/javascript",a.async=!0,a.src=i;var s=this;a.addEventListener("load",(function(){s.states[e]="completed",(s.callbacks[e]||[]).forEach((function(e){e()}))}),!1);var n=t.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},addListener:function(e,t){"completed"!==this.states[e]?(this.callbacks[e]||(this.callbacks[e]=[]),this.callbacks[e].push(t)):t()}},createEmbeddable:function(){var t=new a.classes.Embeddable;return e.Proxy?new Proxy(t,{get:function(e,t){return e instanceof a.classes.Embeddable?Object.prototype.hasOwnProperty.call(e,t)||"onload"===t?e[t]:function(){e.exec.apply(e,[t].concat(i(arguments,0)))}:e[t]}}):t},createWidget:function(){var e=a.createEmbeddable();return a.scriptLoader.load("groove-script","https://69ebe61d-4ea8-4d07-92a5-b0edb1817bc9.widget.cluster.groovehq.com/api/loader"),a.scriptLoader.addListener("groove-iframe-shim-loader",e.onShimScriptLoad),e}};e.groove=a}}(window,document);
      window.groove.widget = window.groove.createWidget();
      window.groove.widget.init('69ebe61d-4ea8-4d07-92a5-b0edb1817bc9', {});
    </script>
    <!-- END GROOVE WIDGET CODE -->

    <script>(function(d, s, id){var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/cdn/ht.js"; d.getElementsByTagName("head")[0].appendChild(js);}(document, "script", "EmbedSocialHashtagScript"));</script>
    <script>$.fancybox.defaults.idleTime = 999999999;</script>
    
    <noscript>You need to enable JavaScript to run this app.</noscript>

    <div id="root"></div>
    <div id="outdated"></div>
  </body>
</html>
